
/* Resetting the default margin and padding of the page */
body {
    margin:0px;
    padding:0px;
}
/* Hover setting of the input Box i.e email and password input */
input:hover{
box-shadow:2px 2px 3px 3px  rgb(233, 155, 38);
cursor: pointer;
}

/* main part of the body which is header  controlling the whole page */
header{
display: flex;
justify-content: center;
align-items: center;
padding:2rem;
}
/* Setting of the backgroung image with before peusduo selector */
    header::before {
        content: "";
        background: url('Login_Images/login.jpg') no-repeat center center/cover;
        z-index: -1;
        position: absolute;
        width:100%;
        height: 100%;
        opacity: 0.7;
    }


.container {
/* main container of the page containing the main box  */
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 90vh;
   width: 60vw;
   background-color: rgb(247, 247, 253);
    box-shadow: 1rem 1rem 2rem black;
    border-radius: 1rem;

}

#heading { 
    /* giving heading to the page login to our website */
    display: flex;
    font-size: 3.5rem;
    font-family: 'Chango', cursive;
    color: rgb(233, 155, 38);
    margin-top: 1.5rem;
    margin-bottom: 1rem;


}

.loginform {
    /* login form contaning the form */
    display: flex;
    justify-content: center;
flex-direction: column;
    padding: 1em;

}

input {
    
    padding: 0.8rem;
    width: 540px;
    font-family: 'Architects Daughter', cursive;
    border-radius: 6px;
    border: 2px solid burlywood;
    font-size: 1rem;
}
input:focus {
    border: 3px solid rgb(235, 180, 107);
   color: darkgoldenrod;
   font-size: 1.1rem;
  } 

.label {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Architects Daughter', cursive;
    margin: 4px;
    color:goldenrod;
}

input[type="checkbox"] {
    width: 3rem;
    height: 1rem;
   box-shadow: none;
  margin-top: 0.5rem;
  background-color: bisque  ;
  }

  input[type="checkbox"]:hover{

    width: 3.5rem;
    height: 1.5rem;
    transition:width 0.2s,height: 0.2s;;
    cursor:pointer;
}
.rememberme{
    display: flex;
    flex-direction: column;
    float: left;
    margin-left: 1rem;
    font-weight: bold;
color:peru;
font-size: 1.5rem;

}
  
.btn {
    /* main  button of the website Login button  */
    display: flex;
   margin-left: 15px;
    align-items: center;
    justify-content: center;
    padding: 0.4rem;
    background-color: rgb(245, 217, 181);
    border-radius: 8px;
    border: none;
    box-shadow: 2px 2px 3px 3px rgb(248, 207, 146);
    width: 575px;
    font-size: 2rem;    
    font-weight: bold;
    font-family: 'Permanent Marker', cursive;
}

.btn:hover{
    /* hovering of the button  */
    width: 580px;
    height: 65px;
    transition:width 0.2s,height:0.2s;
    cursor:pointer;
    color:peru;
    box-shadow:2px 2px 3px 3px  rgb(247, 223, 188);
    background-color: rgb(248, 224, 192);
    
} 
.btncontainer{
    /* container of the button  */
    display: flex;
    flex-direction: row;
    margin: 1rem;
    justify-content: center;
    
}
.loginusing{

    font-family: 'Permanent Marker', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
    font-weight: bold;
    font-size: 1rem;
    color: burlywood;
    
}
.btn1:hover, .btn2:hover, .btn3:hover{

    width: 4.5rem;
    height: 4.5rem;
    transition:width 0.2s,height: 0.2s;;
    cursor:pointer;
    
    
}

.btn1{ 
     margin-right: 2rem;
    background: url('Login_Images/logingoogleicon.png') no-repeat center center/cover;
height: 4rem;
border: none;
width: 4rem;    

}
.btn2{ 
    margin-right: 2rem;
    background: url('Login_Images/loginfacebookico.png') no-repeat center center/cover;
height: 4rem;
border: none;
width: 4rem;    

}.btn3{ 
    margin-right: 2rem;          
    background: url('Login_Images/loginlinkedinicon.webp') no-repeat center center/cover;
height:4rem;
border: none;
width: 4rem;    

}

#forget {
display: flex;
font-size: 1.2rem;
float: right;
margin-right: 1rem;
font-weight: bold;
color:peru;
}
  .forget, a{
    text-decoration: none;
    
}
  .forget, a:hover{
    text-decoration: none;
    color:rgb(241, 206, 117)
    
}



/* ------------------------------------------------------------------------------ */
/* Media Queries */

@media  (max-width:1400px )
{ 
    .container {
        margin-top: 0rem;
           height: 100vh;
           width: 65vw;
        }
    #heading { 
        font-size: 2.5rem;
        margin:rem;
    }
    header::before {
        width:100%;
        height: 130%;
    
    }
    #inputdiv{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .label {
        
        font-size: 1.2rem;

    }
    input {
        padding: 0.7rem;
        width: 520px;
        font-size: 0.9rem;
        /* margin-left: 3.5rem; */
    }

    .rememberme{
        margin-left: 1rem;
        font-size: 1.3rem;
    
    }
    .btn {
        width: 550px;   
    }
    .btn:hover{
        width: 555px;
        height: :60;
    
}

@media  (max-width:1000px )
{ 
    .container {
           height: 90vh;
           width: 70vw;
        }
    #heading { 
        font-size: 2.1rem;
    }
    header::before {
        width:110%;
        height: 110%;
    
    }
    .loginform {
       margin-left: 0.2rem;
       
    }
    .label {
        font-size: 1.1rem;
        margin: 4px;
    }
    input {
        padding: 0.7rem;
        width: 370px;
        font-size: 0.9rem;
    }
    input:focus {
        font-size: 1rem;
    } 
    input[type="checkbox"] {
        margin-top: 0.3rem;
    }
    
    input[type="checkbox"]:hover{
        
        width: 3rem;
        height: 1.2rem;
    }
    .rememberme{
        margin-left: 1.5rem;
        font-size: 1.2rem;
        
    }
    #forget {
        font-size: 1.2rem;
        margin-right: 2.5rem;
    }
    .btn {
        width: 400px;   
        margin-left: 1rem;
        
    }
    .btn:hover{
        width: 405px;
        height:55px;
    }

    .btn1:hover, .btn2:hover, .btn3:hover{
            width: 4.3rem;
            height: 4.3rem;
        }
}


@media  (max-width:800px )
{ 
    .container {
           height: 80vh;
           width: 70vw;
           margin-top: 3rem;
        }
    #heading { 
        font-size: 1.7rem;
    }
    header::before {
        width:110%;
        height: 115%;
    
    }
    .loginform {
       margin-left: 1.4rem;
       
    }
    .label {
        font-size: 1rem;
        margin: 4px;
    }
    input {
        padding: 0.7rem;
        width: 300px;
        font-size: 0.9rem;
    }
    input:focus {
        font-size: 1rem;
    } 
    input[type="checkbox"] {
        margin-top: 0.3rem;
    }
    
    input[type="checkbox"]:hover{
        
        width: 2.8rem;
        height: 1.2rem;
    }
    .rememberme{
        margin-left: 2.5rem;
        font-size: 1.2rem;
        
    }
    #forget {
        font-size: 1.2rem;
        margin-right: 3.3rem;
    }
    .btn {
        width: 325px;   
        margin-left:2.5rem;
        
    }
    .btn:hover{
        width: 330px;
        height:60px;
    }

    .btn1:hover, .btn2:hover, .btn3:hover{
            width: 4rem;
            height: 4rem;
        }
    .btn1{ 
            margin-right: 1.5rem;
       height: 3.8rem;
       width: 3.8rem;    
       
       }
    .btn2{ 
           margin-right: 1.5rem;
       height: 3.8rem;
       width: 3.8rem;    
       }
    .btn3{ 
           margin-right: 1.5rem;         
       height:3.8rem;
       width: 3.8rem;  
    }
    .btncontainer{
        display: flex;
        margin: 1rem;
        
    }
    .loginusing{
        font-size: 0.8rem;
        
    }   
}


@media  (max-width:600px )
{ 
    .container {
           height: 90vh;
           width: 75vw;
           margin-top: 3rem;
          
        }
    #heading { 
        margin-top: 2rem;
        font-size: 1.1rem;
    }
    header::before {
        width:110%;
        height: 115%;
    
    }
    .loginform {
       margin-left:1rem;
       
    }
    .label {
        font-size: 0.9rem;
        margin: 4px;
    }
    input {
        padding: 0.7rem;
        width: 200px;
        font-size: 0.8rem;
    }
    input:focus {
        font-size: 0.9rem;
    } 
    input[type="checkbox"] {
        width: 2.8rem;
        height: 0.8rem;
        margin-top: 0rem;
        margin: 0rem;
      }
    
    input[type="checkbox"]:hover{  
        width: 2.5rem;
        height: 1rem;
    }
   
    .rememberme{     
     margin-left:2rem;
    font-size: 0.8rem;
    
    }
    #forget {
        font-size: 0.8rem;
        margin-right:1.5rem;
    }

    .btn {
        margin-left:2rem;
        padding: 0.2rem;
        border-radius: 6px;
        width: 220px; 
        font-size: 1.5rem;    
        font-weight: bold;
    }
    .btn:hover{
        width: 225px;
        height:45px;
    }

    .btn1:hover, .btn2:hover, .btn3:hover{
            width: 3.2rem;
            height: 3.2rem;
        }
    .btn1{ 
            margin: 0.2rem;
       height: 3rem;
       width: 3rem;    
       
       }
    .btn2{ 
           margin: 0.2rem;
       height: 3rem;
       width: 3rem;    
       }
    .btn3{ 
           margin: 0.2rem;         
       height:3rem;
       width: 3rem;  
    }
    .btncontainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0rem;
        padding: 0rem;
    }
    .loginusing{
        font-size: 0.8rem;
        
        
    }   
    hr{
width: 80%;
    }
}


@media  (max-width:400px )
{ 
    .container {
           height: 90vh;
           width: 90vw;
           margin-top: 2rem;
          
        }
    #heading { 
        margin-top: 1rem;
        padding: 4px;
        font-size: 1rem;
    }
    header::before {
        width:110%;
        height: 115%;
    
    }
    .loginform {
       margin-left:0.5rem;
       
    }
    .label {
        font-size: 0.9rem;
        margin: 2px;
    }
    input {
        padding: 0.7rem;
        width: 200px;
        font-size: 0.6rem;
    }
    input:focus {
        font-size: 0.9rem;
    } 
    input[type="checkbox"] {
        width: 2.8rem;
        height: 0.8rem;
        margin-top: 0rem;
        margin: 0rem;
      }
    
    input[type="checkbox"]:hover{  
        width: 2.5rem;
        height: 1rem;
    }
   
    .rememberme{     
     margin-left:1.2rem;
    font-size: 0.8rem;
    
    }
    #forget {
        font-size: 0.8rem;
        margin-right:1.5rem;
    }

    .btn {
        margin-left:2rem;
        padding: 0.2rem;
        border-radius: 6px;
        width: 200px; 
        font-size: 1.3rem;    
        font-weight: bold;
    }
    .btn:hover{
        width: 225px;
        height:45px;
    }

    .btn1:hover, .btn2:hover, .btn3:hover{
            width: 3.2rem;
            height: 3.2rem;
        }
    .btn1{ 
            margin: 0.2rem;
       height: 3rem;
       width: 3rem;    
       
       }
    .btn2{ 
           margin: 0.2rem;
       height: 3rem;
       width: 3rem;    
       }
    .btn3{ 
           margin: 0.2rem;         
       height:3rem;
       width: 3rem;  
    }
    .btncontainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0rem;
        padding: 0rem;
    }
    .loginusing{
        font-size: 0.8rem;
        
        
    }   
    hr{
width: 80%;
    }
}
